* {
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
.back{ display:flex; flex-direction:column;
background-color: #aaa;
}

.back{ display:flex; flex-direction:column;
	background-color: #aaa;
  width: 300px;}

main{
  margin: 10px;
  padding: 20px;
  border: 2px solid rgb(22, 4, 187);
}

.box-student {
  border:2px solid rgb(1, 1, 255);
  padding: 8px;
  margin: 12px;
}
